<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon</title>
  <link rel="stylesheet" type="text/css" href="/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/reference_script.js"></script>
</head>
<body>
<div class="container topbar">
  <div class="row">
    <nav class="col s12 red darken-2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">
          <div class="pokeball"></div>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#logged_in}}
          <li><a href="/">View Teams</a></li>
          <li><a href="/create">Create Team</a></li>
          <li><a href="/battle">Battle</a></li>
          {{/logged_in}}
          {{^logged_in}}
          <li><a href="/">Log In</a></li>
          {{/logged_in}}
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Reference<i class="material-icons right">arrow_drop_down</i></a></li>
          {{#logged_in}}
          <li><a href="/users/logout">Logout</a></li>
          {{/logged_in}}
        </ul>
        <a href="#" data-activates="menu-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="menu-mobile" class="side-nav">
          {{#logged_in}}
          <li><a href="/">View Teams</a></li>
          <li><a href="/create">Create Team</a></li>
          <li><a href="/battle">Battle</a></li>
          <li><div class="divider"></div></li>
          {{/logged_in}}
          {{^logged_in}}
          <li><a href="/">Log In</a></li>
          {{/logged_in}}
          <li><a class="subheader">Reference</a></li>
          <li><a href="/reference/pokemon">Pokemon</a></li>
          <li><a href="/reference/types">Types</a></li>
          {{#logged_in}}
          <li><div class="divider"></div></li>
          <li><a href="/users/logout">Logout</a></li>
          {{/logged_in}}
        </ul>
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="/reference/pokemon">Pokemon</a></li>
          <li><a href="/reference/types">Types</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col s12">
    <div class="input-field">
      <select id="typeFilter">
        <option disabled selected value="">Filter by type?</option>
        {{#types}}
        <option value="{{type_name}}">{{type_name}}</option>
        {{/types}}
      </select>
    </div>
  </div>
</div>
<div class="row">
{{#pokemon}}
  <div class="col s6 m4 l3">
      <div class="card bottom-row" poke-id="{{poke_id}}">
        <div class="card-image">
          <img src="http://www.pokestadium.com/sprites/green/{{img_name}}.png" class="bottom-row-img valign">
        </div>
       <div class="card-content">
          <p>
            <span class="name">#{{poke_id}}: {{poke_name}}</span><img src="/img/types/{{type}}.png" class="bottom-row-img type-img"><br>
            <span class="hp">HP:{{hp}}</span><br>
            <span class="attack">A:{{attack}}</span>
            <span class="defense">D:{{defense}}</span>
          </p>
        </div>
        <div class="card-action">
          <a class="btn purple waves-effect waves-purple grey-text" href="/reference/pokemon/{{poke_id}}">View</a>
        </div>
      </div>
    </div>
{{/pokemon}}
</div>

</div>
<div class="modal" id="modal1">
  <div class="modal-content">
    <div class="input-field col s8 offset-s2">
      <input type="text" id="teamName" name="teamName">
      <label for="teamName">Name your new team!</label>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action waves-effect waves-green btn" id="save_team">Save Team</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
</div>
</body>
</html>
