<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pokemon.poke_name}}</title>
  <link rel="stylesheet" type="text/css" href="/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/reference_script.js"></script>
</head>
<body>
<div class="container topbar">
  <div class="row">
    <nav class="col s12 red darken-2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">
          <div class="pokeball"></div>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#logged_in}}
          <li><a href="/">View Teams</a></li>
          <li><a href="/create">Create Team</a></li>
          <li><a href="/battle">Battle</a></li>
          {{/logged_in}}
          {{^logged_in}}
          <li><a href="/">Log In</a></li>
          {{/logged_in}}
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Reference<i class="material-icons right">arrow_drop_down</i></a></li>
          {{#logged_in}}
          <li><a href="/users/logout">Logout</a></li>
          {{/logged_in}}
        </ul>
        <a href="#" data-activates="menu-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="menu-mobile" class="side-nav">
          {{#logged_in}}
          <li><a href="/">View Teams</a></li>
          <li><a href="/create">Create Team</a></li>
          <li><a href="/battle">Battle</a></li>
          <li><div class="divider"></div></li>
          {{/logged_in}}
          {{^logged_in}}
          <li><a href="/">Log In</a></li>
          {{/logged_in}}
          <li><a class="subheader">Reference</a></li>
          <li><a href="/reference/pokemon">Pokemon</a></li>
          <li><a href="/reference/types">Types</a></li>
          {{#logged_in}}
          <li><div class="divider"></div></li>
          <li><a href="/users/logout">Logout</a></li>
          {{/logged_in}}
        </ul>
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="/reference/pokemon">Pokemon</a></li>
          <li><a href="/reference/types">Types</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="container">
{{#pokemon}}
  <div class="row">
    <div class="col s12">
      <div class="card horizontal main">
        <div class="card-image col s6">
          <img src="http://www.pokestadium.com/sprites/xy/{{img_name}}.gif" class="big-card-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title">#{{poke_id}}: {{poke_name}}</span>
            <p><span class="type">Type: {{type}}<img class="type-img" src="/img/types/{{type}}.png"></span><br>
            <span class="hp">HP: {{hp}}</span><br>
            <span class="attack">Attack: {{attack}}</span><br>
            <span class="defense">Defense: {{defense}}</span>
            </p>
          </div>
          <div class="card-action">
            <a class="btn green waves-effect waves-red" href="/reference/pokemon">Back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/pokemon}}
</div>


</body>
</html>
