<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle</title>
  <link rel="stylesheet" type="text/css" href="/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/battle_script.js"></script>
</head>
<body>
<div class="container topbar">
  <div class="row">
    <nav class="col s12 {{color}} darken-2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">
          <div class="pokeball"></div>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">View Teams</a></li>
          <li><a href="/create">Create Team</a></li>
          <li class="active"><a>Battle</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Reference<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/users/logout">Logout</a></li>
        </ul>
        <a href="#" data-activates="menu-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="menu-mobile" class="side-nav">
          <li><a href="/">View Teams</a></li>
          <li><a href="/create">Create Team</a></li>
          <li class="active"><a>Battle</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Reference</a></li>
          <li><a href="/reference/pokemon">Pokemon</a></li>
          <li><a href="/reference/types">Types</a></li>
          <li><div class="divider"></div></li>
          <li><a href="/users/logout">Logout</a></li>
        </ul>
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="/reference/pokemon">Pokemon</a></li>
          <li><a href="/reference/types">Types</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="container main">

<!-- ENEMY TEAM -->
{{#enemy}}
<div class="row">
  <div class="col s12">
    <div class="center-align blue lighten-3 card-panel">Battle team <span class="team_name">{{team_name}}</span> by user <span class="username">{{username}}</span>! <a class="loop"><i class="right green-text material-icons">loop</i></a></div>
  </div>
</div>
  <div class="hide" id="enemyData" data-id="{{pokemon_1_id}}_{{pokemon_2_id}}_{{pokemon_3_id}}_{{pokemon_4_id}}_{{pokemon_5_id}}_{{pokemon_6_id}}"></div>
{{/enemy}}
<div class="row" id="enemyTeam" team-id="{{team.team_id}}">
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="enemy1" poke-id={{team.pokemon_1_id}}>
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="enemy2" poke-id={{team.pokemon_2_id}}>
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
       <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="enemy3" poke-id={{team.pokemon_3_id}}>
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="enemy4" poke-id={{team.pokemon_4_id}}>
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="enemy5" poke-id={{team.pokemon_5_id}}>
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="enemy6" poke-id={{team.pokemon_6_id}}>
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
  </div>


<!-- END ENEMY TEAM -->

<!-- BATTLE STATUS -->
  <div class="row">
    <div class="col s4 m2">
      <div class="card-panel status hide" id="status1">
        <i class="material-icons medium center"></i><br><span class="card-title center-align full-width"></span>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card-panel status hide" id="status2">
        <i class="material-icons medium center"></i><br><span class="card-title center-align full-width"></span>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card-panel status hide" id="status3">
        <i class="material-icons medium center"></i><br><span class="card-title center-align full-width"></span>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card-panel status hide" id="status4">
        <i class="material-icons medium center"></i><br><span class="card-title center-align full-width"></span>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card-panel status hide" id="status5">
        <i class="material-icons medium center"></i><br><span class="card-title center-align full-width"></span>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card-panel status hide" id="status6">
        <i class="material-icons medium center"></i><br><span class="card-title center-align full-width"></span>
      </div>
    </div>
  </div>

<!-- END BATTLE STATUS -->


<!-- SELECT YOUR TEAM -->

<div class="row">
  <div class="input-field col s12">
    <select id="team-select">
      <option disabled selected value="">Select your team</option>
      {{#teams}}
      <option value="{{team_id}}" data-id="{{pokemon_1_id}}_{{pokemon_2_id}}_{{pokemon_3_id}}_{{pokemon_4_id}}_{{pokemon_5_id}}_{{pokemon_6_id}}">{{team_name}}</option>
      {{/teams}}
    </select>
  </div>
</div>




<!-- END SELECT YOUR TEAM -->

<!-- DISPLAY YOUR TEAM -->
  <div class="row sortable" id="team" team-id="{{team.team_id}}">
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="pokemon1" poke-id="">
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="pokemon2" poke-id="">
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="pokemon3" poke-id="">
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="pokemon4" poke-id="">
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="pokemon5" poke-id="">
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 m2">
      <div class="card bottom-row hide" id="pokemon6" poke-id="">
        <div class="card-image">
          <img src="#!" class="bottom-row-img valign">
        </div>
        <div class="card-content">
          <p>
            <span class="name"></span><img src="#!" class="bottom-row-img type-img"><br>
            <span class="hp"></span><br>
            <span class="attack"></span>
            <span class="defense"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
<!-- END YOUR TEAM -->

</div>

  <!-- MODAL IF NEEDED -->
<!-- <div class="modal" id="modal1">
  <div class="modal-content">
    <div class="input-field col s8 offset-s2">
      <input type="text" id="teamName" name="teamName">
      <label for="teamName">Name your new team!</label>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Let's go!</a>
  </div>
</div> -->
</div>
</body>
</html>
