<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Pokemon Training</title>
  <link rel="stylesheet" type="text/css" href="/css/materialize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/materialize.js"></script>
  {{#logged_in}}
    <script src="/js/index_script.js"></script>
  {{/logged_in}}
  {{^logged_in}}
    <script src="/js/login_script.js"></script>
  {{/logged_in}}
</head>
<body>
<div class="container">
  <div class="row">
    <nav class="col s12 red darken-2">
      <div class="nav-wrapper">
        {{#logged_in}}
        <a href="/" class="brand-logo">Pokemon Training</a>
        <ul id="nav-mobile" class="right hide-on-small-and-down">
          <li class="active"><a>View Teams</a></li>
          <li><a href="/create">Create Team</a></li>
          <li><a href="/battle">Battle</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        {{/logged_in}}
        {{^logged_in}}
        <a class="brand-logo center">Pokemon Training</a>
        {{/logged_in}}
      </div>
    </nav>
  </div>
  {{#logged_in}}
  <div class="row">
  {{#teams}}
    <div class="col s12" team-id="{{team_id}}">
      <div class="row">
        <div class="card horizontal col s12">
          <div class="card-content">
            <span class="card-title">{{team_name}}</span>
          </div>
          <div class="card-action">
            <p><a href class="delete_button" team-id="{{team_id}}">DELETE</a>
            <a href>EDIT</a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s2">
          <div class="card display_poke" pokemon-id="{{pokemon_1_id}}">
            <div class="card-image">
              <img src="" class="pokemon_image">
            </div>
            <div class="card-action">
              <span class="pokemon_name"></span>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card display_poke" pokemon-id="{{pokemon_2_id}}">
            <div class="card-image">
              <img src="" class="pokemon_image">
            </div>
            <div class="card-action">
              <span class="pokemon_name"></span>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card display_poke" pokemon-id="{{pokemon_3_id}}">
            <div class="card-image">
              <img src="" class="pokemon_image">
            </div>
            <div class="card-action">
              <span class="pokemon_name"></span>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card display_poke" pokemon-id="{{pokemon_4_id}}">
            <div class="card-image">
              <img src="" class="pokemon_image">
            </div>
            <div class="card-action">
              <span class="pokemon_name"></span>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card display_poke" pokemon-id="{{pokemon_5_id}}">
            <div class="card-image">
              <img src="" class="pokemon_image">
            </div>
            <div class="card-action">
              <span class="pokemon_name"></span>
            </div>
          </div>
        </div>
        <div class="col s2">
          <div class="card display_poke" pokemon-id="{{pokemon_6_id}}">
            <div class="card-image">
              <img src="" class="pokemon_image">
            </div>
            <div class="card-action">
              <span class="pokemon_name"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/teams}}
  </div>
  {{/logged_in}}
  {{^logged_in}}
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="row">
        <div class="col s12">
          <div class="card-panel blue darken-2">
            <h4 class="welcome_message card-title center-align">Welcome!</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <form id="login_form" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 left-align logbuttons">
              <input id="login_button" type="button" class="btn waves-effect" value="login">
              <label for="login_button" class="hide">Login</label>
            </div>
            <div class="input-field col s6 right-align logbuttons">
              <input id="signup_button" type="button" class="btn waves-effect" value="signup">
              <label for="signup_button" class="hide">Sign Up</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  {{/logged_in}}
  </div>
</div>
</body>
</html>
